.input_search {
  max-width: 531px;

  .ant-input-wrapper {
    display: flex;

    input {
      height: 42px;
      padding: 10px 0 10px 15px;
      font-size: 16px;
      border-radius: 2px;
      flex: 1;

      &:hover {
        border-color: white;
      }

      &:focus {
        outline: none;
        border-color: white;
        box-shadow: none;
      }
    }

    .ant-input-group-addon {
      display: inline-block;
      height: 42px;
      width: 50px;

      button {
        border: 1px solid white;
        height: 100%;
        width: 100%;
        padding: 15px;
        background-color: white;
        border-radius: none !important;
        svg {
          fill: black;
        }

        &:hover {
          background-color: white;
          border-color: white;

          svg {
            fill: black;
          }
        }
      }
    }
  }
}
